.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  margin: 12px;
}
/* .card:hover,
.card:focus,
.card:active {
  transform: scale(1.1);
} */
.less-margin{
  margin: 0px;
}
/* .card_enabled_hover{
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  margin: 12px;
} */
.enabled_hover:hover,
.enabled_hover:focus,
.card_enabled_hover:active {
  transform: scale(1.1);
}
.card-body{
  cursor: "pointer";
  background-color: #f0efef;

}

.take-exam{
  margin: auto;
  text-align: left;
}

.card-body-exam{
  margin: 50px;
  text-justify: 50px;
}

.pagination {
  text-align: bottom;
}

.card-exam{
  
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  margin: 12px;
}
.extra-padding{
  padding: 25px;
}

.column-image{
  
  position: right;
  background-size: cover; 
  object-fit: cover;

}

.radio{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}
.radio__input{
  display: none;
}
.radio__radio{
  width: 1.25em;
  height: 1.25em;
  border: 2px solid gray;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
}
.radio__radio::after{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(91, 33, 33);
}

.checkbox{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}
.checkbox__input{
  display: none;
}
.checkbox__checkbox{
  width: 1.25em;
  height: 1.25em;
  border: 2px solid gray;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
}
.checkbox__checkbox::after{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(91, 33, 33);
} 



.less-padding{
  padding: 0px;
}
.Detail-card{
  margin: 20px;
  padding: .35cm;
  border: solid;
  display: inline;
  background: rgb(46, 34, 34);

  /* position: relative;
  width: 300px;
  height: 250px;
  margin: auto;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5); */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
